<div class="container" *ngIf= "loadedisproduct !== 'lpd'">
  <p *ngIf= "loadedisproduct === 'epd'">edit-product works!</p>
  <p *ngIf= "loadedisproduct === 'dpd'">delete-product works!</p>
  <div *ngIf= "loadedisproduct === 'dpd'">
    id: {{model.id}} <br>
    name: {{model.name}} <br>
    price: {{model.price}} <br>
    quantity: {{model.quantity}} <br>
    description: {{model.description}} <br>
    <button *ngIf= "loadedisproduct === 'dpd'" type="submit" (click) = "Delete1($event)">Delete</button>
  </div>
  <form #productForm="ngForm" *ngIf= "loadedisproduct === 'epd'">
    <!-- <div class="form-group">
      <label for="file">Choose File</label>
      <input type="file" id="file" (change)="handleFileInput($event.target.files)">
    </div>   -->
    
    <div class="form-group">
      <label for="id">id</label>
      <input type="text" id="id" required [(ngModel)]="model.id" name="id">
    </div>

    <div class="form-group">
      <label for="name">name</label>
      <input type="text" id="name" required [(ngModel)]="model.name" name="name">
      TODO: remove this: {{model.name}}
    </div>

    <div class="form-group">
      <label for="price">price</label>
      <input type="text" id="price" required [(ngModel)]="model.price" name="price">
    </div>

    <div class="form-group">
      <label for="quantity">quantity</label>
      <input type="text" id="quantity" required [(ngModel)]="model.quantity" name="quantity">
    </div>

    <div class="form-group">
      <label for="description">description</label>
      <input type="text" id="description" [(ngModel)]="model.description" name="description">
    </div>

    <button type="submit" (click) = "Edit1($event)">Update</button>
  </form>
</div>
<div *ngIf= "loadedisproduct === 'lpd'">
  <p>list-product works!</p>
  <div *ngFor="let product of pd">
    {{ product.id }}
    {{ product.name }}
    {{ product.price }}  
    {{ product.quantity }}  
    {{ product.description }}  
    <!-- <a [routerLink]="['/deleteProduct', product.name, product.id]" (click) = "Delete($event)">Delete</a> -->
    <button (click) = "Delete(product)">Delete</button>
    <button (click) = "Edit(product)">Edit</button>
  </div>
  <img src="../../../../Angular_node/node/test.png">
  <a href="/addProduct">AddProduct</a>
</div>