<div class="container" *ngIf= "loadedisproduct !== 'lpd'">
  <p *ngIf= "loadedisproduct === 'epd'">edit-product works!</p>
  <p *ngIf= "loadedisproduct === 'dpd'">delete-product works!</p>
  <div *ngIf= "loadedisproduct === 'dpd'">
    Product_ID: {{model.Product_ID}} <br>
    Product_Name: {{model.Product_Name}} <br>
    Product_Price: {{model.Product_Price}} <br>
    Product_Quantity: {{model.Product_Quantity}} <br>
    Product_Description: {{model.Product_Description}} <br>
    <button *ngIf= "loadedisproduct === 'dpd'" type="submit" (click) = "Delete1($event)">Delete</button>
  </div>
  <form #productForm="ngForm" *ngIf= "loadedisproduct === 'epd'">
    <div class="form-group">
      <label for="file">Choose File</label>
      <input type="file" id="file" (change)="handleFileInput($event.target.files)">
    </div>  
    
    <div class="form-group">
      <label for="Product_ID">Product_ID</label>
      <input type="text" id="Product_ID" required [(ngModel)]="model.Product_ID" name="Product_ID">
    </div>

    <div class="form-group">
      <label for="Product_Name">Product_Name</label>
      <input type="text" id="Product_Name" required [(ngModel)]="model.Product_Name" name="Product_Name">
      TODO: remove this: {{model.Product_Name}}
    </div>

    <div class="form-group">
      <label for="Product_Price">Product_Price</label>
      <input type="text" id="Product_Price" required [(ngModel)]="model.Product_Price" name="Product_Price">
    </div>

    <div class="form-group">
      <label for="Product_Quantity">Product_Quantity</label>
      <input type="text" id="Product_Quantity" required [(ngModel)]="model.Product_Quantity" name="Product_Quantity">
    </div>

    <div class="form-group">
      <label for="Product_Description">Product_Description</label>
      <input type="text" id="Product_Description" [(ngModel)]="model.Product_Description" name="Product_Description">
    </div>

    <button type="submit" (click) = "Edit1($event)">Update</button>
  </form>
</div>
<div *ngIf= "loadedisproduct === 'lpd'">
  <p>list-product works!</p>
  <div *ngFor="let product of pd">
    {{ product.Product_ID }}
    {{ product.Product_Name }}
    {{ product.Product_Price }}  
    {{ product.Product_Quantity }}  
    {{ product.Product_Description }}  
    <!-- <a [routerLink]="['/deleteProduct', product.name, product.id]" (click) = "Delete($event)">Delete</a> -->
    <button (click) = "Delete(product)">Delete</button>
    <button (click) = "Edit(product)">Edit</button>
  </div>
  <img src="../../../../Angular_node/node/test.png">
  <a href="/addProduct">AddProduct</a>
</div>